.main-content table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}
.main-content table, th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
}
.main-content th {
    background-color: rgb(178, 170, 170); 
    font-weight: bold;
    color: #fff; 
}
.main-content tr {
    transition: transform 0.5s ease;
    background-color: whitesmoke; 

}
.main-content tr:hover {
    background-color: #f9f9f9; /* Light grey background on hover */
    transform: scale(1.05);
}
.main-content td {
    vertical-align: top; /* Align content vertically */
    text-align: center;
}
.main-content td a {
    color: #007bff; /* Blue color for links */
    text-decoration: none; /* No underline for links */
    transition: color 0.3s ease;
}
.main-content td a:hover {
    color: #0056b3; /* Darker blue on hover */
}